.modalCont{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
/* .modal{
width: 100vw;
height: 100vh;
position: absolute;
display: grid;
place-items: center;
background-color: rgb(0, 0, 0);
z-index: 100;
color: white;
} */

.modal{
width: 100vw;
height: 100vh;
/* position: absolute; */
display: grid;
place-items: center;
background-color: rgb(0, 0, 0);
/* z-index: 100; */
color: white;
}
button{
    font-size: 1rem;
    padding: 10px;
    background-color: whitesmoke;
}


